<!DOCTYPE html>
<html>
<head>
  <title>WowData</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
  <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
</head>
<body>
    
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">WoW Auction Data</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav navbar-right">
                    <div class="hidden">
                        <a href="#page-top"></a>
                    </div>
                    <div class="navbar-brand">
                            <div class='btn'>
                            <% if user_signed_in? %>
                               <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                                    <% else %>
                            <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
                            <% end %>
                            </div>
                            <a href="/items" class='btn'>Items</a>
                            <a href="/trades" class='btn'>Trades</a>
                    </div>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class='container'>
    </div>

    <%= yield %>
  

</body>
</html>
